* {
    margin: 0;
    /* font-family: 'JetBrains Mono', sans-serif; */
    font-family: 'Open Sans', sans-serif;
    background-repeat: no-repeat;
    -webkit-tap-highlight-color: transparent;
    --color1: #9b51e0;
}

@font-face {
    font-family: 'Open Sans', sans-serif;
    /* font-family: JetBrainsMono; */
    /* src: url(./src/fonts/JetBrainsMono.ttf); */
}

:root {
    --main-text-color: #202020
}

html {
    scroll-behavior: smooth
}

a {
    text-decoration: none;
    transition: all 0.3s;
    border-bottom: 1px solid #dddddd;
    color: var(--color1);
    line-height: 140%;
}

a:hover {
    color: #992cff;
    border-bottom: 1px solid var(--color1);
}

.pop-up-body>.popup-footer-note {
    display: flex;
    font-weight: 300;
    font-size: 15px;
    line-height: 176%;
    color: var(--main-text-color);
    border-radius: 10px;
    background-color: rgb(245 245 245 / 60%);
    align-items: center;
    padding: 20px;
    gap: 5px;
}

.footer,
.header,
main {
    box-sizing: border-box;
    display: flex;
    width: 100%
}

.header {
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ffffff
}

.header .logo {
    display: flex;
    align-items: center;
    cursor: pointer
}

.header .logo span {
    padding-left: 15px;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px
}

.header .menu {
    display: flex;
    flex-direction: row
}

.header .menu ul {
    list-style: none;
    padding: 0
}

.header .menu ul a {
    padding-right: 34px;
    color: #acacac;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 123%;
    border-bottom: none;
    cursor: pointer
}

.header .menu ul a:last-child {
    padding-right: 0
}

.header .menu ul a.current {
    color: #000
}

.footer {
    position: absolute;
    top: max(100%, calc(100vh - 75px));
    align-items: center;
    justify-content: space-between;
    height: 75px;
    border-top: 1px solid #ffffff;
    font-weight: 300;
    font-size: var(--header);
    line-height: 21px
}

main {
    flex-direction: column;
    transition-duration: .25s;
    opacity: 0
}

.selected {
    color: #000
}

.default {
    color: #acacac
}

.h1 {
    font-weight: 600;
    font-size: var(--h1);
    line-height: 176%;
    color: var(--main-text-color);
    letter-spacing: -2px;
}

.h0 {
    font-weight: 700;
    font-style: bold;
    font-size: var(--h0);
    line-height: 123%;
    color: var(--main-text-color)
}

.caption {
    font-weight: 300;
    font-size: var(--caption);
    line-height: 176%;
    color: var(--main-text-color)
}

.text-align-left {
    text-align: left
}

.text-align-center {
    text-align: center
}

.text-align-right {
    text-align: right
}

.align-self-left {
    align-self: flex-start
}

.align-self-center {
    align-self: center
}

.align-self-right {
    align-self: flex-end
}

.padding-right-50px {
    padding-right: 50px
}

.padding-right-25px {
    padding-right: 25px
}

.margin-top-10px {
    margin-top: 10px
}

.margin-top-25px {
    margin-top: 25px
}

.margin-bottom-10px {
    margin-bottom: 10px
}

.box {
    display: block
}

.picture {
    max-width: 390px;
    width: 100%;
    margin-top: 45px;
    border-radius: 10px;
}

.link-icon {
    height: 30px;
    cursor: pointer
}

.link-icon>path {
    transition-duration: .2s
}

.link-icon:hover>path {
    fill: var(--color1);
    stroke: var(--color1);
}

.paragraph {
    margin-top: 45px;
    align-self: center;
    width: min(720px, 100%);
    font-weight: 300;
    font-size: var(--text);
    line-height: 176%;
    text-align: center;
    color: #000
}

.paragraph>a {
    cursor: pointer
}

.grid {
    padding: 0;
    display: grid;
    align-self: flex-end;
    width: 100%;
    list-style: none
}

.grid>li {
    overflow: hidden;
    padding-bottom: 75%;
    height: 0;
    position: relative;
    border-radius: 10px
}

.grid>li>img {
    width: 100%
}

.grid>li>div {
    display: flex;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    justify-content: space-between;
    height: calc(100% - 90px);
    padding: 45px 50px;
    flex-direction: column;
    opacity: 0;
    background: #0008;
    transition-duration: .25s;
    color: #fff
}

.grid>li:hover>div {
    opacity: 1
}

.grid>li>div>span.title {
    font-weight: 700;
    font-size: var(--h2);
    line-height: 128.51%
}

.grid>li>div>span.title>span {
    font-weight: 300;
    font-size: var(--header);
    line-height: 128.51%;
    position: relative;
    top: -15px;
    left: 10px
}

.grid>li>div>span.descr {
    font-weight: 600;
    font-size: var(--header);
    line-height: 123%
}

.grid>li#empty>div {
    opacity: 1;
    background: #0006
}

.grid>li#empty>div>span.title {
    font-size: 72px
}

.grid>li#empty>div>span.descr {
    font-weight: 100
}

.to-top-button {
    width: 100%;
    font-weight: 350;
    font-size: var(--ind1);
    line-height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: .25s;
    color: #666;
    cursor: pointer
}

.default {
    font-weight: 300;
    font-size: var(--header);
    line-height: 176%;
    text-align: left;
    color: #000
}

.blur {
    filter: blur(5px)
}

.main {
    position: relative
}

.pop-up {
    position: fixed;
    overflow-x: hidden;
    overflow-y: scroll;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    background: rgba(0, 0, 0, .5)
}

.pop-up-container {
    position: absolute;
    align-content: center;
    display: flex;
    flex-direction: column;
    width: 100%
}

.pop-up-body {
    position: absolute;
    align-self: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 750px;
    padding: 55px 70px;
    background: #fff;
    border-radius: 20px 20px 0 0;
    margin: 75px 0
}

.no-scroll {
    overflow-x: hidden;
    overflow-y: hidden
}

.scroll {
    overflow-y: scroll
}

.visible {
    display: initial
}

.hidden {
    display: none
}

.close-icon {
    position: absolute;
    z-index: 999;
    top: 30px;
    right: 30px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center
}

.close-icon path {
    fill: #fff;
    fill-opacity: .2;
    transition-duration: .15s
}

.close-icon:hover path {
    fill-opacity: .7
}

.pop-up-body>span.title {
    display: block;
    font-weight: 700;
    font-size: var(--h3);
    line-height: 123%;
    color: var(--main-text-color)
}

.pop-up-body>span.subtitle {
    display: block;
    font-weight: 400;
    font-size: var(--subhead);
    line-height: 123%;
    color: #666;
    margin-top: 8px
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.bar {
    overflow: hidden;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none
}

.bar::-webkit-scrollbar {
    display: none
}

.output {
    background-size: contain;
    padding-top: 75%;
    display: flex;
    flex-direction: row;
    position: relative;
    margin-top: 24px;
    border-radius: 5px
}

.bar>ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-content: center;
    height: 75px;
    margin-top: 15px
}

.bar>ul>li {
    height: calc(100% - 6px);
    margin-right: 18px;
    border: none;
    box-sizing: border-box;
    border-radius: 5px;
    transition-duration: .2s;
    overflow: hidden;
    box-shadow: 0 0 0 0 #7b61ff26
}

.bar>ul>li:first-child {
    margin-left: 3px
}

.bar>ul>li:hover {
    box-shadow: 0 0 0 4px #00000026
}

.bar>ul>li.selected {
    box-shadow: 0 0 0 3px var(--color1);
}

.bar>ul>li>img {
    height: 100%;
    border-radius: 5px
}

.output>.arrow {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    width: 100px;
    height: 100%;
    opacity: 0;
    cursor: pointer;
    transition-duration: .3s
}

.output>.left>img,
.output>.right>img {
    width: 15px;
}

.output>.arrow:hover {
    opacity: 1
}

.output>.right {
    right: 0;
    background: linear-gradient(270deg, rgba(255, 255, 255, .88) 0, rgba(255, 255, 255, 0) 100%)
}

.output>.left>img {
    transform: rotate(90deg)
}

.output>.right>img {
    transform: rotate(-90deg)
}

.output>.left {
    background: linear-gradient(90deg, rgba(255, 255, 255, .88) 0, rgba(255, 255, 255, 0) 100%);
    left: 0
}

.pop-up-body>div.info {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 25px
}

.pop-up-body>div.info>div {
    margin-right: 67px
}

.pop-up-body>div.info>div>span {
    display: flex;
    gap: 10px;
    font-weight: 400;
    font-size: 15px;
    line-height: 123%;
    color: var(--main-text-color)
}

.pop-up-body>div.info>div>span.title {
    font-weight: 700;
    margin-bottom: 11px
}

.pop-up-body>p {
    font-weight: 300;
    font-size: var(--text);
    line-height: 176%;
    color: var(--main-text-color);
    margin-top: 20px
}

.pop-up-body a {
    cursor: pointer
}

.pop-up>span {
    position: fixed;
    top: -12px;
    right: 33px;
    font-weight: 300;
    font-size: 72px;
    line-height: 176%;
    color: rgba(255, 255, 255, .29);
    transform: rotate(45deg);
    cursor: pointer
}

.pop-up>span:hover {
    color: rgba(255, 255, 255, .6)
}

.pop-up-right-body {
    visibility: hidden;
    position: fixed;
    top: 0;
    right: 0;
    width: 77%;
    height: 100%;
    background: #fff
}

.pop-up-right-body>ul {
    list-style: none;
    padding: 0;
    margin-top: 25px;
    font-size: 20px;
    line-height: 50px;
    color: #000
}

.pop-up-right-body>ul>a {
    padding: 0 35px;
    display: block;
    cursor: pointer;
    color: #acacac;
}

.pop-up-right-body>ul>a.current {
    color: #000
}

.pop-up-right-body>button {
    position: absolute;
    left: 12%;
    bottom: 31px;
    box-sizing: border-box;
    width: 76%;
    height: 45px;
    background: var(--color1);
    border-radius: 6px;
    border-style: none;
    font-weight: 700;
    font-size: 14px;
    line-height: 10px;
    color: #fff
}

.pop-up-right-body[class*=visible] {
    visibility: visible
}

#social-links {
    display: flex;
    justify-content: center;
    gap: 30px;
}

@media screen and (min-width:769px) {
    .header .menu .menu-icon {
        display: none
    }
    .footer,
    .header {
        padding: 0 50px
    }
    main {
        padding: 55px 206px
    }
    .header {
        height: 75px
    }
    button.filter {
        width: 190px
    }
    .header>.menu>ul {
        display: flex;
        flex-direction: row
    }
    .desktop-false,
    .mobile-true {
        display: none
    }
    .desktop-true,
    .mobile-false {
        display: initial
    }
    button.filter>ul {
        width: 190px
    }
    button.filter[class~=opened]>ul {
        top: 70px
    }
    .grid {
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
        grid-gap: 36px;
        margin: 20px 0
    }
    .to-top-button {
        height: 180px
    }
     :root {
        --h0: 64px;
        --h1: 48px;
        --caption: 46px;
        --header: 18px;
        --text: 18px;
        --subhead: 16px;
        --h2: 40px;
        --h3: 28px;
        --ind1: 18px
    }
}

@media screen and (max-width:768px) and (min-width:426px) {
    .footer,
    .header,
    main {
        padding: 0 16px
    }
    main {
        padding-top: 25px;
        padding-bottom: 25px
    }
    .header {
        position: sticky;
        top: 0;
        z-index: 9999;
        background: #fff;
        height: 64px
    }
    button.filter {
        width: 190px
    }
    .header>.menu>ul {
        display: none
    }
    .desktop-false,
    .mobile-true {
        display: none
    }
    .desktop-true,
    .mobile-false {
        display: initial
    }
    button.filter>ul {
        width: 190px
    }
    button.filter[class~=opened]>ul {
        top: 70px
    }
    .grid {
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
        grid-gap: 36px;
        margin: 20px 0
    }
    .to-top-button {
        height: 180px
    }
     :root {
        --h0: 64px;
        --h1: 48px;
        --caption: 46px;
        --header: 18px;
        --text: 18px;
        --subhead: 16px;
        --h2: 40px;
        --h3: 28px;
        --ind1: 18px
    }
}

@media screen and (max-width:425px) {
    .footer,
    .header,
    main {
        padding: 0 16px
    }
    main {
        padding-top: 25px;
        padding-bottom: 25px
    }
    .header {
        position: sticky;
        top: 0;
        z-index: 9999;
        background: #fff;
        height: 64px
    }
    .header>.menu>ul {
        display: none
    }
    .header .logo>img {
        width: 25px
    }
    button.filter {
        width: 100%
    }
    .desktop-false,
    .mobile-true {
        display: initial
    }
    .desktop-true,
    .mobile-false {
        display: none
    }
    button.filter>ul {
        width: 100%
    }
    button.filter[class~=opened]>ul {
        top: 60px
    }
    .grid {
        grid-template-columns: 1fr;
        grid-gap: 16px;
        margin: 17px 0
    }
    .to-top-button {
        height: 130px;
        padding-bottom: 16px
    }
    .pop-up-body {
        border-radius: 0;
        padding: 18px 16px;
        box-sizing: border-box;
        max-width: 375px;
        margin: 0 0
    }
    .pop-up-body>:first-child {
        max-width: 300px
    }
    .pop-up>.close-icon {
        top: 24px
    }
    .pop-up>.close-icon svg {
        width: 22px
    }
    .pop-up>.close-icon path {
        fill: #000
    }
    a.link.social {
        font-size: 13px;
    }
    .close-icon {
        right: 10px;
    }
    .pop-up-body>.popup-footer-note {
        flex-direction: column;
    }
     :root {
        --h0: 36px;
        --h1: 24px;
        --caption: 24px;
        --header: 14px;
        --text: 16px;
        --subhead: 16px;
        --h2: 20px;
        --h3: 24px;
        --ind1: 18px
    }
}

form {
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-self: center
}

form input,
form label,
form textarea {
    display: block;
    margin-top: 12px;
    box-sizing: border-box
}

form label {
    font-weight: 600;
    font-size: var(--header);
    line-height: 18px;
    margin-top: 17px
}

form input {
    font-weight: 400;
    font-size: var(--subhead);
    line-height: 20px;
    padding: 12px 16px;
    border-radius: 6px;
    border: 2px solid rgb(0, 0, 0);
    background: #ffffff;
    width: 100%
}

form input.button {
    align-self: flex-start;
    margin: 0;
    cursor: pointer;
    box-sizing: border-box;
    width: unset;
    height: 45px;
    background: var(--color1);
    border-radius: 6px;
    border-style: none;
    border: none;
    font-weight: 700;
    font-size: 14px;
    line-height: 10px;
    color: #fff;
    -webkit-appearance: none
}

input:focus,
textarea:focus,
select:focus {
    outline-offset: 0px !important;
    outline: none !important;
}

form textarea {
    font-weight: 400;
    font-size: var(--subhead);
    line-height: 20px;
    padding: 12px 16px;
    border-radius: 6px;
    border: 2px solid rgb(0, 0, 0);
    background: #ffffff;
    width: 100%;
    height: 160px;
    resize: none;
    outline: 0
}

form>div {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 15px
}

form>div>span {
    margin-left: 19px;
    font-style: normal;
    font-weight: 300;
    font-size: var(--header);
    line-height: 176%
}

form>div>span>a {
    margin-left: 10px;
}

button.filter {
    display: flex;
    overflow: hidden;
    position: relative;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    border: 2px solid #000000;
    box-sizing: border-box;
    border-radius: 10px;
    height: 50px;
    padding: 0 25px;
    transition-duration: .25s;
    cursor: pointer;
    outline: 0
}

button.filter>div.filterContainer>ul {
    display: none;
    position: absolute;
    top: 66px;
    left: -1px;
    padding: 15px 0;
    list-style: none;
    background: #fff;
    z-index: 999;
    border: 1px solid #f5f5f5;
    box-sizing: border-box;
    box-shadow: 0 0 60px rgba(0, 0, 0, .15);
    border-radius: 10px;
    font-weight: 600;
    font-size: var(--subhead);
    line-height: 221.5%;
    text-align: left;
    color: #acacac;
    width: 100%
}

button.filter>span {
    font-weight: 600;
    font-size: var(--subhead);
    line-height: 176%
}

button.filter>img {
    transition-duration: .25s
}

button.filter>div.filterContainer>ul>li {
    padding: 0 25px
}

button.filter>div.filterContainer>ul>li:hover {
    background: #f5f5f5
}

button.filte>div.filterContainerr>ul>li.selected {
    color: #000
}

button.filter[class~=opened] {
    background: #f5f5f5;
    overflow: visible
}

button.filter[class~=opened]>div.filterContainer>ul {
    display: initial
}

button.filter[class~=opened]>img {
    transform: rotate(180deg)
}

main.opacity-low {
    opacity: 0
}

main.opacity-high {
    opacity: 1
}